.list_item {
  width: 300px;
  font-size: x-large;
  border: lightgrey solid 1px;
  padding: 6px 14px 6px 14px;

  cursor: default;
}

.detail_item {
  width: 400px;
  font-size: x-large;
  border: lightgrey solid 1px;
  padding: 6px 14px 6px 14px;
}

#detail img {
  width: 428px;
}

#container{
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;

  /*    background-color: aliceblue; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.hidden {
  visibility: hidden;
}